.G-ezModal #ezModal-vertify {
    text-align: center;
    padding: 30px 43px;
}

.G-ezModal #ezModal-vertify .ezModal-greenBtn {
    height: 40px;
    line-height: 40px;
    margin: 10px 0;
}
.G-ezModal #ezModal-vertify .ezModal-greenBtn.success_confirm {
    margin-bottom: 20px;
}
.G-ezModal #ezModal-vertify .vertifyContent .title {
    font-size: 20px;
    color: #222;
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e3e3;
}

.G-ezModal #ezModal-vertify .content {
    font-size: 15px;
    color: #222;
    margin-top: 30px;
}

.G-ezModal #ezModal-vertify .content form {
    width: 230px;
    margin: 0 auto;
}

.G-ezModal #ezModal-vertify .content button {
    width: 100%;
    margin-top: 10px;
}

.G-ezModal #ezModal-vertify .ezModal-input-group input {
    font-family: inherit;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #222222;
    border: none;
    font-size: 14px;
    width: 100%;
    background-color: transparent;
    margin: 0;
    padding: 3px 1px;
    vertical-align: initial;
    cursor: inherit;
    box-shadow: none;
    height: 32px;
    line-height: normal !important;
}

/* 輸入驗證碼 */
.G-ezModal #ezModal-vertify .ezModal-resendAuthCodeBtn {
    font-size: 14px !important;
    line-height: 14px;
    color: #222;
    height: 30px;
    padding: 8px 10px;
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    text-align: center;
}
.G-ezModal #ezModal-vertify .ezModal-resendAuthCodeBtn:hover {
    color: #0c9251;
}
.G-ezModal #ezModal-vertify .ezModal-resendAuthCodeBtn:disabled {
    color: #bbb;
    background-color: #f0f0f0;
}

.G-ezModal #ezModal-vertify .success .title {
    font-size: 20px;
    color: #0c9251;
    margin-top: 13px;
    margin-bottom: 10px;
}
.G-ezModal #ezModal-vertify .success .title ::before {
    content: '';
    display: block;
    width: 70px;
    height: 70px;
    margin: 0 auto 20px;
    background-image: url(../../images/common/member/icon-success.svg);
    background-size: cover;
}
.G-ezModal #ezModal-vertify .success .boldTitle {
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.G-ezModal .ezModal-icon {
    width: 115px;
    padding-top: 60px;
    height: 71px;
    margin: 30px auto 0;
}
.G-ezModal .ezModal-icon.gift {
    background-image: url(../../images/common/mem-modal/icon-gift.svg);
}
.G-ezModal .ezModal-icon.gift + .ezModal-h1 {
    margin-top: -10px;
    margin-bottom: 16px;
    line-height: normal;
}
.G-ezModal .birthday p.info-text {
    color: #666;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}
.G-ezModal .birthday p.info-text + .ezModal-btn-center {
    padding-bottom: 20px;
}
.G-ezModal #ezModal-vertify .birthday .ezModal-greenBtn {
    width: 100%;
}
.G-ezModal #ezModal-vertify .birthday .ezModal-greenBtn.w-140,
.G-ezModal #ezModal-vertify .birthday .ezModal-whiteBtn.w-140 {
    width: 140px;
}
.G-ezModal
    #ezModal-vertify
    .birthday
    .ezModal-btn-center
    button:not(:last-child) {
    margin-right: 10px;
}
.G-ezModal #ezModal-vertify .birthday {
    padding-top: 0;
    font-size: 0;
}
.G-ezModal .birthday .ezModal-h1 {
    padding-top: 30px;
    margin-bottom: 2px;
}
.G-ezModal #ezModal-vertify .birthday .ezModal-h1.pt-0 {
    padding-top: 0;
}
.G-ezModal .birthday .ezModal-h2 {
    line-height: normal;
    max-width: 320px;
    margin-top: 0;
    margin-bottom: 8px;
    word-break: keep-all;
    word-wrap: break-word;
}
.G-ezModal #ezModal-vertify .ezModal-input-group.mobile {
    margin-top: 20px;
}
.G-ezModal #ezModal-vertify .ezModal-input-group.birthday {
    width: 90px;
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
    font-size: 0;
}
.G-ezModal
    #ezModal-vertify
    .ezModal-wrap.birthday
    .ezModal-input-group.birthday:not(:nth-last-child(1)) {
    margin-right: 10px;
}
.G-ezModal #ezModal-vertify .desc-text {
    max-width: 400px;
    margin: auto;
    margin-bottom: 10px;
    font-size: 16px;
}
.G-ezModal #ezModal-vertify .birthday .ezModal-h1 + .ezModal-error-input {
    border: none;
    max-width: 290px;
    margin: auto;
}
.G-ezModal #ezModal-vertify .birthday #ajax-msg_error {
    max-width: 290px;
    margin: auto;
    margin-top: 5px;
}
@media only screen and (max-width: 559px) {
    .rwd .G-ezModal #ezModal-vertify {
        padding: 30px 0;
    }
    .rwd #ezModal-vertify .vertifyContent {
        padding-top: 30px;
    }
    .rwd .G-ezModal #ezModal-vertify .success {
        padding: 30px 30px 0;
    }
    .rwd .G-ezModal #ezModal-vertify .ezModal-input-group.birthday {
        width: calc((100vw - 50px) / 3);
    }
    .rwd
        .G-ezModal
        #ezModal-vertify
        .birthday
        .ezModal-h1
        + .ezModal-error-input {
        max-width: 100%;
    }
    .rwd .G-ezModal #ezModal-vertify .birthday #ajax-msg_error {
        max-width: 100%;
    }
}
